﻿@model Project1.ViewModel.AMTModel
    @{
        ViewBag.Title = "Thank You!";
      }

<div class="hi">

        <h2>Congratulation!</h2>
        You have successfully completed the experiment
        <br />
        @Html.Label("You earned")
        @Html.Raw(" ")
        @Html.Label(Model.Payment + "¢ for this HIT")
        <br />
        @Html.Label("Thank you for your participation")
        <br />
        @Html.Label("Please press the Finish button in order to complete the HIT")

        @using (Html.BeginForm(null, null, FormMethod.Post, new { @action = Model.TurkSubmitToUrl }))
        {
            @Html.Hidden("assignmentId", Model.AssignmentId)
            @Html.Hidden("workerId", Model.WorkerId)
            @Html.Hidden("hitId", Model.HitId)
        <p>
            <button type="submit" class="button" id="Button">Finish</button>
        </p>
    }
</div>