﻿@model Project1.Models.PicturesUsers
@{
    ViewBag.Title = "UserProfile";
}
<link type="text/css" href="~/css/errors.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    <div style="text-align:center">
        @Html.LabelFor(u => u.Age, new { @class = "lab" })<br />
        @Html.DropDownListFor(u => u.Age,
        new SelectList(Model.Ages, "Value", "Text"), "Please select your age",
        new { @class = "dd" })
        @Html.ValidationMessageFor(u => u.Age, String.Empty)
        <br />
        @Html.LabelFor(u => u.Gender, new { @class = "lab" })<br />
        @Html.DropDownListFor(u => u.Gender,
        new SelectList(Model.Genders, "Value", "Text"), "Please select your gender",
        new { @class = "dd" })
        @Html.ValidationMessageFor(u => u.Gender, String.Empty)
        <br />
        @Html.LabelFor(u => u.Country, new { @class = "lab" })<br />
        @Html.DropDownListFor(u => u.Country,
        new SelectList(Model.Countries, "Value", "Text"), "Please select your country",
        new { @class = "dd" })
        @Html.ValidationMessageFor(u => u.Country, String.Empty)
        <br />
        @Html.LabelFor(u => u.Education, new { @class = "lab" })<br />
        @Html.DropDownListFor(u => u.Education,
        new SelectList(Model.Educations, "Value", "Text"), "Please select your education",
        new { @class = "dd" })
        @Html.ValidationMessageFor(u => u.Education, String.Empty)<br />
        </div>
    <p>
        <button type="submit" class="button" id="Button">Continue</button>
    </p>
}

