﻿@model Project1.Models.MethodsValues
@{
    ViewBag.Title = "Paragraph";
}

@using (Html.BeginForm())
{
    <br/>
    <p>@Model.ShowValue</p>
    <br />
        @Html.TextAreaFor(u => u.Value, new { rows = 10, columns = 100 })

    <br />
    <p>
        <button id="next" type="submit" class="button">Continue</button>
    </p>
}
