﻿@model Project1.Models.MethodsValues
@{
    ViewBag.Title = "Sign";
}

@using (Html.BeginForm())
{
    <br />
    <p>@Model.ShowValue</p>
    <br />
    @Html.TextAreaFor(u => u.Value, new { rows = 1, cols = 100 })

    <br />
    <p>
        <button id="next" type="submit" class="button">Agree</button>
    </p>
}