﻿@model Project1.Models.MethodsValues
@{
    ViewBag.Title = "TenCommandments";
}

@using (Html.BeginForm())
{
    <br />
    <p>@Model.ShowValue</p>
    <p>and write it in the text box below</p>

    <table>
        <tr>
            <td>
                @Html.TextAreaFor(u => u.Value)
            </td>
            <td class="commandments">
                <p class="attention" style="font-size:25px">Pay Attention - You can use those:</p>
                And God spoke all these words, saying:<br />
                1 Thou shalt have no other gods before Me.<br />
                2 Thou shalt not make unto thee a graven image.<br />
                3 Thou shalt not take the name of the LORD thy God in vain.<br />
                4 Remember the sabbath day, to keep it holy.<br />
                5 Honour thy father and thy mother.<br />
                6 Thou shalt not murder.<br />
                7 Thou shalt not commit adultery.<br />
                8 Thou shalt not steal.<br />
                9 Thou shalt not bear false witness against thy neighbour.<br />
                10 Thou shalt not covet any thing that is thy neighbour's.
            </td>
        </tr>
        
</table>
    <br />
        <p>
            <button id="next" type="submit" class="button">Continue</button>
        </p>
        }
