﻿
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/css/firstPage.css" />
<h2 class="text">Welcome</h2>
<br />
<p style="text-align:center; font-size:20px">Here comes the explanation of the experiment</p>
<img src="~/pic/doubting-face.gif" style="float:right" />
<br />
<br />
<br />
<br />
<a href="@Url.Action("PictureInstructions", "Instructions")" class="button" id="Button">Next to Picture</a>
<br />
<a href="@Url.Action("ManagePic", "Picture")" class="button">for me</a>
