﻿@model Project1.Controllers.InstructionsController
@{
    ViewBag.Title = "ExamplePicture";
}

<h2>Example Picture No. @ViewBag.Massage</h2>
<img src=@ViewBag.Src />
<br />

@Html.ActionLink(
              "Back",  // text of the link
              "CountClick",   // the Action function in your controller
              "Instructions",          // the Controller name
              new { val = ViewBag.Massage }, // id and passed parameter
              new { @class = "button" }
            )
