﻿@model Project1.Controllers.InstructionsController
@{
    ViewBag.Title = "Instructions";
}

<h2><img src="~/pic/pictureGif.png" style="float:right; max-width: 20%"/>
    Which One Is The Strongest Umbrella?</h2> 
<p>@ViewBag.Instructions</p>
<br />
<p class="attention"> pay attention by clicking on the back browser button will bring you to the start page.</p>

@if (Session["AssignmentId"].ToString().Equals("ASSIGNMENT_ID_NOT_AVAILABLE"))
{
    <p class="attention">You must choose the HIT to continue</p>
    {
        <a class="button">Continue</a>
    }
}
else
{
<a href="@Url.Action("Training", "Instructions")" class="button">Continue</a>
}
