﻿@model Project1.Models.ChosenPictures
@{
    ViewBag.Title = "Training";
}
<h3>Training Session:</h3>
<h2>please choose the strongest umbrella</h2>
<p class="attention">To see the images - Click on the links</p>
<p class="attention">To continue, click on the continue button.</p>
<table>
    <tr>

@using (Html.BeginForm())
{
    <td>
    @for (int i = 1; i <= 3; i++)
    {
        @Html.RadioButtonFor(m => m.ChosenImage, i.ToString(), new { });
        @Html.ActionLink(
                   "Exapmle Picture No. " + i.ToString(),  // text of the link
                   "ExamplePicture",   // the Action function in your controller
                   "Instructions",          // the Controller name
                   new { val = i.ToString() }, // id and passed parameter
                   new { @class = "pic-link" }
                 )
        <br />

    }
   </td>

    if (Model.ChosenImage != null)
    {
        <td class="small-box">
       <div>
           Thank you for checking the @Model.NumberOfPic umbrellas
               <br />
           and choosing umbrella #@Model.ChosenImage
           <br />
           @Html.ActionLink(
                     "Continue",  // text of the link
                     "GoToQuiz",   // the Action function in your controller
                     "Instruction",          // the Controller name
                     new { @class = "button" }
                   )

            <br />
           </div>
            </td>
    }
    else
    {
        <td>
    <p>
        <button id="next" type="submit" class="button">Continue</button>
    </p>
            @if (Model.DidChoose != null)
        {
            if (Model.DidChoose.Equals(false))
            {
                <p class="attention">Please choose one of the images</p>
            }
        }
            </td>

    }
}
        </tr>
</table>