﻿body {
    background-color: antiquewhite;
}

h2 {
    font-size:70px;
    font-family:Cooper;
    color:dimgray;
    text-align:center;
       
}

h1 {
    font-size: 70px;
    font-family: Cooper;
    color: dimgray;
    text-align:center;
}

h3{
    font-size:50px;
    font-family:Forte;
    color:darkslategray;
    text-align:center;
}

p{
    font-size:30px;
    font-family:David;
    color:saddlebrown;
    font-weight:bold;
}


.button {
    float:right;
    -moz-box-shadow: inset -1px 0px 34px 3px #91b8b3;
    -webkit-box-shadow: inset -1px 0px 34px 3px #91b8b3;
    box-shadow: inset -1px 0px 34px 3px #91b8b3;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
    background: -moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background: -webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background: -o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
    background-color: #768d87;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    border: 4px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    font-weight: bold;
    padding: 17px 70px;
    text-decoration: none;
    text-shadow: 4px 3px 2px #2b665e;
}

    .button:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
        background: -moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
        background: -webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
        background: -o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
        background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
        background-color: #6c7c7c;
        color: black;
    }

    .button:active {
        position: relative;
        top: 1px;

    }

.dd {
    color: darkslategrey;
    background-color: transparent;
    font-family: David;
    font-size: 23px;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid #566963;
}

textarea {
    color: darkslategrey;
    background-color: floralwhite;
    font-family: David;
    font-size: 15px;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid #566963;
    margin: 8px 0;
    width:1000px;
    height:300px;
}

.lab{
    font-size:40px;
    font-family:Georgia;
    font-weight:bold;
    color:lightslategrey;
}

.question{
    font-size:25px;
    color:saddlebrown;
    font-weight:bold;
    text-align:center;
}

.hi{
    color:darkred;
    font-size:40px;
    font-family:Cooper;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

.clock {
    font-size: 50px;
    color: green;
    font-family: 'Segoe UI';
    font-weight: bold;
    position: fixed;
    top: 100px; /*accounts for fixed header*/
    right: calc(50% - 530px);
}


.time-end{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:70px;
    color:forestgreen;
    font-weight:bold;
}

th, td {
    padding: 20px;
    color: #01722e;
    text-align: center;
    font-size: 30px;
    font-family:'Goudy Old Style';
    font-weight:bold;
}

.mark {
    color: rgba(53, 234, 27, 0.98);
    font-size: 40px;
    font-family:David;
}

.answer {
    color: maroon;
    font-size: 20px;
    font-weight:bold;
    text-align: center;
}

.middle {
    margin: auto;
    width: 60%;
    font-size:30px;
}

.test{
    align-items:flex-start;
}

.attention{
    color:red;
    font-size:20px;
    font-weight:bold;
    text-align:center;
}

.commandments{
    color:black;
    font-size:22px;
    border-color:black;    
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    padding: 5px;
}

.pic-link {
    font-size: 30px;
    color: darkcyan;
    font-family: 'Bodoni MT';
    text-decoration: underline;
}

.small-box {
    border-radius: 5px;
    border: 3px solid #566963;
    color:midnightblue;
    font-family:'Bodoni MT';
    font-weight:bold;
    background-color:antiquewhite;
}

.box-text {
}