﻿
@{
    ViewBag.Title = "OutOfData";
}

<div class="container-fluid">
    <div class="well">
        <p class="main-header">Error!</p>
        <p class="sub-header">We are sorry but we are out of assignments for this expiriment, please try again later!</p>
    </div>
</div>


