﻿
@{
    ViewBag.Title = "UserExists";
}

<div class="container-fluid">
    <div class="well">
        <p class="main-header">Error!</p>
        <p class="sub-header">Hello, you have already participated in this expiriment once before!</p>
    </div>
</div>

