﻿@model Project1.Models.Question
@{
    ViewBag.Title = "Quiz";
}

@using (Html.BeginForm())
{
    <div id="allq">
        @for (int i = 0; i < Model.QuizQuestions.Count(); i++)
        {
            <div class="question">
            @Html.Label((i + 1).ToString() + ") ")
            @Html.Raw(" ")
            @Html.Label("", Model.QuizQuestions.ElementAt(i))
        </div>
            for (int j = 0; j < 3; j++)
            {
                <div class="answer">
                    @Html.RadioButtonFor(m => m.userAns[i], Model.AnswerOptions.ElementAt(i*3 + j))@Model.AnswerOptions.ElementAt(i * 3 + j)
                     </div>
            }
            <br />

        }
    </div>
        <br />
    if (Model.numOfCorrectAns != null)
    {

        if (Model.numOfCorrectAns.Equals(-1))
        {
            <p class="attention">You must answer all the questions correctly.</p>
        }
        else
        {
            <p class="attention">You answered correctly @Model.numOfCorrectAns from 3. <br />
                You must answer all the questions correctly.</p>
        }
    }
        <p>
            <button type="submit" class="button" id="Button">Continue</button>
        </p>
        <br />
}

