﻿@model Project1.Models.ChosenPictures
@{
    ViewBag.Title = "ManagePic";
}
<link type="text/css" href="~/css/errors.css" rel="stylesheet" />

<h2>
    @if (Model.Method.ToString().Equals("Eyes")) {
        <img src="~/pic/eyes.png" style="float:right; width:250px;height:75px" />
    }
    else
    {
        <img src="~/pic/pictureGif.png" style="float:right; max-width: 10%" />
    }
    Which image you believe is the strongest umbrella?
</h2>

<br />

@using (Html.BeginForm())
{

    <table align="center" style="border-spacing:100px 10px;border-collapse: separate;">

        <tr>
            @for (int j = 1; j <= Model.NumberOfPic/10; j++)
            {
                <td>
                    @for (int i = (10*(j-1))+1; i <= j*10; i++)
                    {
                        @Html.RadioButtonFor(m => m.ChosenImage, i.ToString());
                        @Html.ActionLink(
              "Picture No. " + i.ToString(),  // text of the link
              "OpenPictureTime",   // the Action function in your controller
              "Picture",          // the Controller name
              new { val = i.ToString() }, // id and passed parameter
              new { @class = "pic-link" }
            )
                        <br />

                    }
                </td>
            }
            </tr>
            </table>
    if (Model.DidChoose != null)
    {
        <p class="attention">Please choose one of the images</p>
    }
            <p>
                <button type="submit" class="button" id="Button">Continue</button>
            </p>
            }
