﻿@model Project1.Controllers.PictureController
@{
    ViewBag.Title = "Picture";
}

<h2>@if (ViewBag.Method.ToString().Equals("Eyes"))
{
    <img src="~/pic/eyes.png" style="float:right; width:250px;height:75px" />
}
    Picture No. @ViewBag.Massage</h2>
<img src= @ViewBag.Src />
<br />

@Html.ActionLink(
              "Back",  // text of the link
              "CountClick",   // the Action function in your controller
              "Picture",          // the Controller name
              new { val = ViewBag.Massage }, // id and passed parameter
              new { @class = "button" }
            )





